# 이 파일 복사해서 .env 파일 만들기
# MySQL 설정은 이 파일 그대로, 밑에 IP 주소는 본인 주소로 변경 필요

# MySQL 설정
MYSQL_ROOT_PASSWORD=root_password_123
MYSQL_USER=tikkle_admin
MYSQL_PASSWORD=tikkle_pass1234
MYSQL_DATABASE=tikkle_db

# 백엔드 DB 연결용 URL (특수문자 충돌 해결)
DATABASE_URL=mysql+pymysql://tikkle_admin:tikkle_pass1234@db:3306/tikkle_db

# 로컬 개발 시 연결용 IP 주소 (본인 IP로 바꾸세요)
EXPO_PACKAGER_HOSTNAME=192.168.219.104

# 키값 준영님한테 문의
OPENAI_API_KEY=

# 로그인 보안키
SECRET_KEY=tikkle_official_secure_key_2026
ALGORITHM=HS256